@font-face {
	font-family: vt323;
	src: url(vt323.ttf);
}

body {
	margin: 0;
	padding: 0;

}

.body-container {
	display: grid;
	grid-template: 0.15fr 0.8fr 0.25fr / auto;
	height: 100vh;
}

.header {
	background-color:#000;
	
	grid-area: 1/1/2/-1;
	color: #fff;
	font-size: 70px;
	font-weight: bold;
	font-family: vt323;
}

.title{
	margin-left:40px;
	margin-top: 10px;
}

.main-body {
	background-color: #000;
	grid-area: 2/1/3/-1;
}

.board-container {
	display: flex;
	justify-content:center;
	align-items: center;
	height: 100%;
}

.ocean1,
.ocean2 {
	display: grid;
	height: 320px;
	width: 320px;
	border: solid rgba(0, 0, 0, 0.664) 1px;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-right: 50px;
	margin-left:50px;
	
}

.ocean-cell {
	display: grid;
	justify-content: start;
	text-align: center;
	align-items: start;
	height: 30px;
	background-color: #010b5e;
	width: 30px;
	border: solid rgba(0, 0, 0, 0.664) 1px;
	
}

.ship {
	position: absolute;
	background-color: blue;
	z-index: 1;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #000;
	color: white;
	font-family: vt323;
	font-size: xx-large;
	grid-area: 3/1/-1/-1;
}

#start,#replay{
	height: 50px;
	width:200px;
	background-color: #000;
	border:solid white 3px;
	color: white;
	font-family: vt323;
	font-size: xx-large;

}

#start:hover,#replay:hover{
	cursor: pointer;
	color: #000;
	background-color:#fff;
}

#gameover{
	display: none;
}
